--- Day 4: Camp Cleanup ---

Go to Advent of Code (https://adventofcode.com/) for the full description of the challenge solved here.

Summary of challenge: The Day 4 input contains ranges of numbers stored as letters which represent the range of a cleaning assignment (also referred to as cleaning task in this notebook). Each line of text correspond to two cleaning tasks belonging to two paired elves. In part 1, we need to calculate the number of times the cleaning task (range of numbers) completely overlaps between the two paired elves. In part 2, we need to calculate the number of times the cleaning task (range of numbers) has any overlap (e.g., overlap is just a short range) between the two paired elves.

In [40]:
import pandas as pd

Part 1

How many times does the cleaning task completely overlap between the two paired elves?

In [41]:
# store Day4_input as a list

lists = []
with open('Day4_input.txt') as file:
    for line in file:
      lists.append(line)
lists[-5:]

['26-82,25-25\n',
 '44-95,43-94\n',
 '61-68,9-62\n',
 '27-55,28-48\n',
 '22-88,20-23']

In [42]:
# Splitting the two tasks

two_tasks = pd.DataFrame()
for i in lists:
  two_tasks = two_tasks.append(i.split(','))
two_tasks.tail()

         0
1   9-62\n
0    27-55
1  28-48\n
0    22-88
1    20-23

In [43]:
# number of rows

len(two_tasks[0])

2000

In [44]:
# Creating a loop that splits the two tasks

first_task=[]
second_task=[]
counter=-1
for i in two_tasks[0]:
  counter+=1
  if counter!=1999: # counter necessary because the last element does not contain '\n'
    if i.__contains__('\n'): # leverage the instance method based on occurence of '\n'
      second_task.append(i)
    else:
      first_task.append(i)
  else:
    second_task.append(i)

In [45]:
# The tasks have been correctly split

print(len(second_task), len(first_task))

1000 1000

In [46]:
# Creating a dataframe that contains the two tasks in different columns

refined_two_tasks=pd.DataFrame()
refined_two_tasks['first_task']=first_task
refined_two_tasks['second_task']=second_task

refined_two_tasks.head()

  first_task second_task
0      15-60     14-59\n
1      32-80     17-79\n
2      47-80     79-80\n
3      64-64     12-63\n
4      93-93      8-92\n

In [47]:
# Creating a function that removes the '\n' from the second_task column

def remover(x):
    return x.replace('\n', '').strip()

In [49]:
# Using the remover function on the second_task column

refined_two_tasks['second_task'] = refined_two_tasks['second_task'].apply(remover)

In [50]:
# Splitting the first_task column into two numbers

first_number=[]
second_number=[]
for i in refined_two_tasks['first_task']:
  first_number.append(i.split('-')[0]) # appends the first number
  second_number.append(i.split('-')[1]) # appends the second number

In [51]:
# The first_task has been correctly split

print(len(first_number), len(second_number))

1000 1000

In [52]:
# Adding the two numbers from the first_task into the dataframe

refined_two_tasks['first_task_one']= first_number
refined_two_tasks['first_task_two']= second_number
refined_two_tasks.head()

  first_task second_task first_task_one first_task_two
0      15-60       14-59             15             60
1      32-80       17-79             32             80
2      47-80       79-80             47             80
3      64-64       12-63             64             64
4      93-93        8-92             93             93

In [53]:
# Splitting the second_task column into two numbers

first_number=[]
second_number=[]
for i in refined_two_tasks['second_task']:
  first_number.append(i.split('-')[0])
  second_number.append(i.split('-')[1])

In [54]:
# Adding the two numbers from the second_task into the dataframe

refined_two_tasks['second_task_one']= first_number
refined_two_tasks['second_task_two']= second_number
refined_two_tasks.head()

,first_task,second_task,first_task_one,first_task_two,second_task_one,second_task_two
0,15-60,14-59,15,60,14,59
1,32-80,17-79,32,80,17,79
2,47-80,79-80,47,80,79,80
3,64-64,12-63,64,64,12,63
4,93-93,8-92,93,93,8,92

In [55]:
# Checking the data types

refined_two_tasks.dtypes

first_task         object
second_task        object
first_task_one     object
first_task_two     object
second_task_one    object
second_task_two    object
dtype: object

In [56]:
# Changing the datatype of numbers in the dataframe from object to integer

refined_two_tasks['first_task_one'] = refined_two_tasks['first_task_one'].astype(int)
refined_two_tasks['first_task_two']= refined_two_tasks['first_task_two'].astype(int)
refined_two_tasks['second_task_one'] = refined_two_tasks['second_task_one'].astype(int)
refined_two_tasks['second_task_two']= refined_two_tasks['second_task_two'].astype(int)

refined_two_tasks.dtypes

first_task         object
second_task        object
first_task_one      int64
first_task_two      int64
second_task_one     int64
second_task_two     int64
dtype: object

In [57]:
# Determining how many times elves have completely overlapping tasks

whole_range=0
for i in range(0,1000):
  # when the given tasks are the same 
  if refined_two_tasks['first_task_one'][i]==refined_two_tasks['second_task_one'][i]:
    whole_range+=1
  # when the second task contains the entire first task
  elif refined_two_tasks['first_task_one'][i] > refined_two_tasks['second_task_one'][i] and refined_two_tasks['first_task_two'][i] <= refined_two_tasks['second_task_two'][i]:
    whole_range+=1
  # when the first task contains the entire second task
  elif refined_two_tasks['first_task_one'][i] < refined_two_tasks['second_task_one'][i] and refined_two_tasks['first_task_two'][i] >= refined_two_tasks['second_task_two'][i]:
    whole_range+=1

# View how many times the elves have completely overlapping tasks
whole_range

466

Part Two

How many times does the cleaning task have any overlap (e.g., short overlap in range) between the two paired elves?

In [58]:
# Determining how many times elves have at least somewhat overlapping tasks

some_range=0
for i in range(0,1000):
  # when the first number of the first task is within the second task
  if refined_two_tasks['second_task_one'][i] <= refined_two_tasks['first_task_one'][i] <= refined_two_tasks['second_task_two'][i]:
    some_range+=1
  # when the second number of the first task is within the second task
  elif refined_two_tasks['second_task_one'][i] <= refined_two_tasks['first_task_two'][i] <= refined_two_tasks['second_task_two'][i]:
    some_range+=1
   # when the first number of the second task is within the first task
  elif refined_two_tasks['first_task_one'][i] <= refined_two_tasks['second_task_one'][i] <= refined_two_tasks['first_task_two'][i]:
    some_range+=1
  # when the second number of the second task is within the first task
  elif refined_two_tasks['first_task_one'][i] <= refined_two_tasks['second_task_two'][i] <= refined_two_tasks['first_task_two'][i]:
    some_range+=1

# View how many times the elves have at least somewhat overlapping tasks
some_range

865